<p *ngIf="isLoading">Aan het laden</p>
<div *ngIf="!isLoading">
<p>Mijn inschrijvingen</p>

<div>
  <div>
    <select [(ngModel)]="selectedYear" (change)="onYearChange($event)">
      <option value="">-- Select a year --</option>
      <option *ngFor="let year of years" [value]="year">{{ year }}</option>
    </select>
  </div>

<div *ngIf="subscriptionDTOs && subscriptionDTOs.length > 0">
  <table class="table">
    <tbody>
      <tr *ngFor="let s of subscriptionDTOs">
        <th scope="row">{{ s.firstName }}</th>
        <td>{{s.lastName}}</td>
        <td>{{ s.name }}</td>
        <td>{{ s.status }}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>

