<div class="container">
  <div
    class="alert alert-danger"
    role="alert"
    *ngIf="isSubmitted && errorMessage"
  >
    {{ errorMessage }}
  </div>
  <p *ngIf="isAdd">Voeg een nieuwe ProductUnit toe.</p>
  <p *ngIf="isEdit">Pas de gegevens van een ProductUnit aan.</p>
  <form (ngSubmit)="onSubmit()" [formGroup]="productUnitForm">
    <div class="form-group">
      <label for="date">Trainingsdatum</label>
      <input type="date" class="form-control" id="date" name="date" placeholder="Trainingsdatum"
        formControlName="date" minlength="2" required />
    </div>
    <!-- <div>
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date"  />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div> -->
    <div class="form-group">
      <label for="comment">Comment</label>
      <input
        type="text"
        class="form-control"
        id="comment"
        name="comment"
        placeholder="comment"
        formControlName="comment"
        minlength="2"
        required
      />
    </div>
    <div class="form-group">
      <label for="addressId">Address:</label>
      <select
        id="addressId"
        name="addressId"
        formControlName="addressId"
        required
        class="form-select"
        aria-label="Default select example"
      >
        <option
          *ngFor="let type of addresses"
          [ngValue]="type.id"
          [selected]="type.id === productUnit.addressId"
          >{{ type.name }}</option
        >
      </select>
    </div>
    <div class="form-group">
      <label for="productId">product:</label>
      <select
        id="productId"
        name="productId"
        formControlName="productId"
        required
        class="form-select"
        aria-label="Default select example"
      >
        <option
          *ngFor="let type of productDefinitions"
          [ngValue]="type.id"
          [selected]="type.id === productUnit.productId"
          >{{ type.name }}</option
        >
      </select>
    </div>
    <div class="form-group">
      <label for="productUnitStatusId">Status</label>
      <select id="productUnitStatusId" name="productUnitStatusId"
        formControlName="productUnitStatusId" required class="form-select" aria-label="Default select example">
        <option *ngFor="let type of optionsByStatus | async" [ngValue]="type.id"
          [selected]="type.id === productUnit.productUnitStatusId">{{ type.name }}</option>
      </select>
    </div>
    <!-- <div class="form-group">
      <label for="productUnitStatusId">Status:</label>
      <select
        id="productUnitStatusId"
        name="productUnitStatusId"
        formControlName="productUnitStatusId"
        required
        class="form-select"
        aria-label="Default select example"
      >
        <option
          *ngFor="let type of options"
          [ngValue]="type.id"
          [selected]="type.id === productUnit.productUnitStatusId"
          >{{ type.name }}</option
        >
      </select>
    </div> -->

    <div>
      <mat-form-field>
        <mat-label>startuur</mat-label>
        <input matInput type="time" formControlName="startTimeScheduled" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Einduur</mat-label>
        <input matInput type="time" formControlName="endTimeScheduled" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>startuur</mat-label>
        <input matInput type="time" formControlName="startTimeActual" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Einduur</mat-label>
        <input matInput type="time" formControlName="endTimeActual" />
      </mat-form-field>
    </div>
    <button
      type="submit"
      class="btn btn-succes btn-primary"
      *ngIf="isAdd"
      [disabled]="!productUnitForm.valid"
    >
      Toevoegen
    </button>
    <button
      type="submit"
      class="btn btn-succes btn-primary"
      *ngIf="isEdit"
      [disabled]="!productUnitForm.valid"
    >
      Opslaan
    </button>
    <a class="btn btn-secondary ml-1" routerLink="/productUnit/">Annuleren</a>
  </form>
</div>
