<div class="container">

    <p *ngIf="isLoading">Aan het laden</p>

    <div *ngIf="!isLoading" >

        <table class="table">
            <tbody>
                <tr>
                    <th>Voornaam:</th>
                    <td>{{person.firstName}}</td>
                </tr>
                <tr>
                    <th>Achternaam:</th>
                    <td>{{person.lastName}}</td>
                </tr>
                <tr>
                    <th>Straat:</th>
                    <td>{{person.street}}</td>
                </tr>
                <tr>
                    <th>Nummer:</th>
                    <td>{{person.number}}</td>
                </tr>
                <tr>
                    <th>Bus:</th>
                    <td>{{person.box}}</td>
                </tr>
                <tr>
                    <th>Postcode:</th>
                    <td>{{person.postalCode}}</td>
                </tr>
                <tr>
                    <th>Gemeente/stad:</th>
                    <td>{{person.city}}</td>
                </tr>
                <tr>
                    <th>Land:</th>
                    <td>{{person.country}}</td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>{{person.emailAddress}}</td>
                </tr>
                <tr>
                    <th>Geboortedatum:</th>
                    <td>{{person.dateOfBirth | date: "dd-MM-yyyy"}}</td>
                </tr>
                <tr>
                    <th>Geslacht:</th>
                    <td>{{person.gender | translateGender}}</td>
                </tr>
                <tr>
                    <th>Rijksregisternummer:</th>
                    <td>{{person.identityNumber}}</td>
                </tr>

            </tbody>
        </table>


        <!-- <div class="row">
            <div class="col-4">
                <p>Voornaam: </p>
            </div>
            <div class="col-8">
                <p>{{person.firstName}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>Achternaam: </p>
            </div>
            <div class="col-8">
                <p>{{person.lastName}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>Straat: </p>
            </div>
            <div class="col-8">
                <p>{{person.street}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>Nummer: </p>
            </div>
            <div class="col-8">
                <p>{{person.number}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>Bus: </p>
            </div>
            <div class="col-8">
                <p>{{person.box}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>Postcode: </p>
            </div>
            <div class="col-8">
                <p>{{person.postalCode}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>Gemeente/stad: </p>
            </div>
            <div class="col-8">
                <p>{{person.city}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>Land: </p>
            </div>
            <div class="col-8">
                <p>{{person.country}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>Email: </p>
            </div>
            <div class="col-8">
                <p>{{person.emailAddress}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>Geboortedatum: </p>
            </div>
            <div class="col-8">
                <p>{{person.dateOfBirth | date: "dd-MM-yyyy" }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>Geslacht: </p>
            </div>
            <div class="col-8">
                <p>{{person.gender | translateGender}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>Rijksregisternummer: </p>
            </div>
            <div class="col-8">
                <p>{{person.identityNumber}}</p>
            </div>
        </div> -->

        <div class="btn btn-primary btn-spacing" (click)="editPerson(person.id)">Aanpassen</div>
        <a class="btn btn-secondary btn-spacing" (click)="goToMyMembers()">Annuleren</a>
    </div>
</div>