<p *ngIf="isLoading">Aan het laden</p>

<div *ngIf="!isLoading">
    <div class="btn btn-success" (click)="add()">productUnit toevoegen</div>
    <div>
    <table class="table" *ngIf="productUnits && productUnits.length > 0">
        <tbody>
            <tr *ngFor="let p of productUnits">
                <th scope="row">{{p.id}}</th>
                <td>{{p.comment}}</td>
                <td><button type="button" class="btn knop" (click)="edit(p.id)"><i class="fas fa-edit"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>
</div>
