<div class="container">
    <div class="alert alert-danger" role="alert" *ngIf="isSubmitted && errorMessage">
        {{errorMessage}}
    </div>
    <p *ngIf="isAdd">Voeg een nieuwe persoon toe.</p>
    <p *ngIf="isEdit">Pas de gegevens van een persoon aan.</p>

    <form (ngSubmit)="onSubmit()" [formGroup]="personForm">

        <h2>Persoonlijke gegevens</h2>

        <div class="row">
            <div class="form-group col-12 col-md-6">
                <label for="firstName">Voornaam</label>
                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Voornaam"
                    formControlName="firstName" minlength="2" required>
            </div>
            <div *ngIf="personForm.controls['firstName'].invalid && isSubmitted" class="alert">
                Geef een geldige voornaam in.
            </div>


            <div class="form-group col-12 col-md-6">
                <label for="lastName">Achternaam</label>
                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Achteraam"
                    formControlName="lastName" minlength="2" required>
            </div>
            <div *ngIf="personForm.controls['lastName'].invalid && isSubmitted" class="alert">
                Geef een geldige achternaam in.
            </div>
        </div>

        <div class="row">
            <div class="form-group col-12 col-md-6">
                <label for="gender">Geslacht:</label>
                <select id="gender" name="gender" formControlName="gender" required class="form-select"
                    aria-label="Default select example">
                    <option value="male">Man</option>
                    <option value="female">Vrouw</option>
                </select>
            </div>


            <div class="form-group col-12 col-md-6">
                <label for="dateOfBirth">Geboortedatum</label>
                <input id="dateOfBirth" class="form-control" type="date" id="dateOfBirth" name="dateOfBirth"
                    formControlName="dateOfBirth" required />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-12 col-md-6">
                <label for="mobilePhone">Mobiel nummer</label>
                <input type="text" class="form-control" id="mobilePhone" name="mobilePhone"
                    placeholder="Mobiel telefoonnummer" formControlName="mobilePhone" minlength="2" required>
            </div>
            <div *ngIf="personForm.controls['mobilePhone'].invalid && isSubmitted" class="alert">
                Geef een geldig telefoonnummer in.
            </div>


            <div class="form-group col-12 col-md-6">
                <label for="emailAddress">Email adres</label>
                <input type="text" class="form-control" id="emailAddress" name="emailAddress" placeholder="Email adres"
                    formControlName="emailAddress" minlength="2">
            </div>
            <div *ngIf="personForm.controls['emailAddress'].invalid && isSubmitted" class="alert">
                Geef een geldig email adres in.
            </div>
        </div>

        <div class="row">
            <div class="form-group col-12 col-md-6">
                <label for="identityNumber">Rijksregisternummer</label>
                <input type="text" class="form-control" id="identityNumber" name="identityNumber"
                    placeholder="Rijksregisternummer" formControlName="identityNumber" minlength="11" maxlength="11" size="11" required>
            </div>
            <div *ngIf="personForm.controls['identityNumber'].invalid && isSubmitted" class="alert">
                Geef een geldig rijksregisternummer in.
            </div>
            <div class="invalid-feedback">
                Geef een geldig rijksregisternummer in met exact 11 karakters.
              </div>

            <div class="form-group col-12 col-md-6">
                <label for="insuranceCompany">Mutualiteit</label>
                <input type="text" class="form-control" id="insuranceCompany" name="insuranceCompany"
                    placeholder="Mutualiteit" formControlName="insuranceCompany" minlength="2" required>
            </div>
            <div *ngIf="personForm.controls['insuranceCompany'].invalid && isSubmitted" class="alert">
                Geef een geldige verzekeringsmaatschappij in.
            </div>
        </div>

        <h2>Adres</h2>

        <div class="row">
            <div class="form-group col-12 col-md-6">
                <label for="street">Straat</label>
                <input type="text" class="form-control" id="street" name="street" placeholder="Straat"
                    formControlName="street" minlength="2" required>
            </div>
            <div *ngIf="personForm.controls['street'].invalid && isSubmitted" class="alert">
                Geef een geldige straatnaam in.
            </div>


            <div class="form-group col-12 col-md-6">
                <label for="number">Nummer</label>
                <input type="text" class="form-control" id="number" name="number" placeholder="Nummer"
                    formControlName="number" required>
            </div>
            <div *ngIf="personForm.controls['number'].invalid && isSubmitted" class="alert">
                Geef een geldig huisnummer in.
            </div>
        </div>

        <div class="row">
            <div class="form-group col-12 col-md-6">
                <label for="box">Bus</label>
                <input type="text" class="form-control" id="box" name="box" placeholder="Bus" formControlName="box">
            </div>


            <div class="form-group col-12 col-md-6">
                <label for="postalCode">Postcode</label>
                <input type="text" class="form-control" id="postalCode" name="postalCode" placeholder="Postcode"
                    formControlName="postalCode" minlength="2" required>
            </div>
            <div *ngIf="personForm.controls['postalCode'].invalid && isSubmitted" class="alert">
                Geef een geldige postcode in.
            </div>
        </div>

        <div class="row">
            <div class="form-group col-12 col-md-6">
                <label for="city">Stad/gemeente</label>
                <input type="text" class="form-control" id="city" name="city" placeholder="Stad/gemeente"
                    formControlName="city" minlength="2" required>
            </div>
            <div *ngIf="personForm.controls['city'].invalid && isSubmitted" class="alert">
                Geef een geldige stad of gemeente in.
            </div>


            <div class="form-group col-12 col-md-6">
                <label for="country">Land</label>
                <input type="text" class="form-control" id="country" name="country" placeholder="Land"
                    formControlName="country" minlength="2" required>
            </div>
            <div *ngIf="personForm.controls['country'].invalid && isSubmitted" class="alert">
                Geef een geldige landsnaam in.
            </div>
        </div>



        <div class="form-group d-none">
            <label for="id">personId</label>
            <input type="number" class="form-control" id="id" name="id" placeholder="id" formControlName="id" required>
        </div>

        <div class="form-group d-none">
            <label for="parentId">parentId</label>
            <input type="number" class="form-control" id="parentId" name="parentId" placeholder="parentId"
                formControlName="parentId">
        </div>

        <div class="form-group d-none">
            <label for="addressId">addressId</label>
            <input type="number" class="form-control" id="addressId" name="addressId" placeholder="addressId"
                formControlName="addressId">
        </div>


        <button type="submit" class="btn btn-succes btn-primary" *ngIf="isAdd"
            [disabled]="!personForm.valid">Toevoegen</button>
        <button type="submit" class="btn btn-succes btn-primary" *ngIf="isEdit"
            [disabled]="!personForm.valid">Opslaan</button>
        <!-- <button type="submit" class="btn btn-succes btn-primary" *ngIf="isAdd">Toevoegen</button>
        <button type="submit" class="btn btn-succes btn-primary" *ngIf="isEdit">Opslaan</button> -->
        <a class="btn btn-secondary ml-1" routerLink="/mymembers/">Annuleren</a>
    </form>
</div>