<ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
    <button (click)="auth.logout({ logoutParams: { returnTo: document.location.origin } })" mat-button
        class="menu-button button-format">
        <mat-icon>exit_to_app</mat-icon>
        <span>Log out</span>
    </button>
</ng-container>

<ng-template #loggedOut>
    <div class="background">
        <div class="row spacer"></div>
        <div class="row">
            <div class="container text-center col-10 col-sm-8 col-md-6 col-lg-4 focus">
                <img src="../../assets/Westfit logo.png" alt="Westfit logo" class="img-fluid">
                <div class="mt-5">
                    <h2>Welkom op het WestFit ledenplatform!</h2>
                </div>
                <div>
                    <button (click)="auth.loginWithRedirect()" class="btn btn-primary btn-spacing">Inloggen</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>