<div class="container">
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="isSubmitted && errorMessage"
    >
      {{ errorMessage }}
    </div>
    <p>Nieuwe price agreement aan het contract toevoegen</p>
    <form (ngSubmit)="onSubmit()" [formGroup]="priceAgreementForm">
        <div class="form-group">
            <label for="paymentDate">paymentDate</label>
            <input
              type="date"
              class="form-control"
              id="paymentDate"
              name="paymentDate"
              placeholder="paymentDate"
              formControlName="paymentDate"
            />
          </div>
          <div class="form-group">
            <label for="priceBillable">priceBillable</label>
            <input
              type="number"
              class="form-control"
              id="priceBillable"
              name="priceBillable"
              placeholder="priceBillable"
              formControlName="priceBillable"
            />
          </div>
          <div class="form-group">
            <label for="discountAmount">Discount</label>
            <input
              type="number"
              class="form-control"
              id="discountAmount"
              name="discountAmount"
              placeholder="discountAmount"
              formControlName="discountAmount"
            />
          </div>
          <div class="form-group">
            <label for="priceAgreementStatusId">statusId</label>
            <input
              type="number"
              class="form-control"
              id="priceAgreementStatusId"
              name="priceAgreementStatusId"
              placeholder="priceAgreementStatusId"
              formControlName="priceAgreementStatusId"
            />
          </div>
          <div class="form-group">
            <label for="contractId">contractId</label>
            <input
              type="number"
              class="form-control"
              id="contractId"
              name="contractId"
              placeholder="contractId"
              formControlName="contractId"
            />
          </div>
          <button
          type="submit"
          class="btn btn-succes btn-primary"
          *ngIf="isEdit"
          [disabled]="!priceAgreementForm.valid"
        >
          Save
        </button>

    </form>
