<div class="container">
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="isSubmitted && errorMessage"
    >
      {{ errorMessage }}
    </div>
    <p>Nieuwe price agreement aan het contract toevoegen</p>
    <form (ngSubmit)="onSubmit()" [formGroup]="priceAgreementForm">
        <div class="form-group">
            <label for="paymentDate">paymentDate</label>
            <input
              type="date"
              class="form-control"
              id="paymentDate"
              name="paymentDate"
              placeholder="paymentDate"
              formControlName="paymentDate"
            />
          </div>
          <div class="form-group">
            <label for="priceBillable">priceBillable</label>
            <input
              type="number"
              class="form-control"
              id="priceBillable"
              name="priceBillable"
              placeholder="priceBillable"
              formControlName="priceBillable"
            />
          </div>
          <div class="form-group">
            <label for="discountAmount">Discount</label>
            <input
              type="number"
              class="form-control"
              id="discountAmount"
              name="discountAmount"
              placeholder="discountAmount"
              formControlName="discountAmount"
            />
          </div>
 
          <div class="form-group">
            <label for="priceAgreementStatusId">Status:</label>
            <select
              id="priceAgreementStatusId"
              name="priceAgreementStatusId"
              formControlName="priceAgreementStatusId"
              required
              class="form-select"
              aria-label="Default select example"
            >
              <option
                *ngFor="let type of optionsByStatus | async"
                [ngValue]="type.id"
                [selected]="type.id === priceAgreementId"
                >{{ type.name }}</option
              >
            </select>
          </div>
          <div class="form-group">
            <label for="contractId">contractId</label>
            <input
              type="number"
              class="form-control"
              id="contractId"
              name="contractId"
              placeholder="contractId"
              formControlName="contractId"
            />
          </div>
          <button
          type="submit"
          class="btn btn-succes btn-primary"
          *ngIf="isEdit"
          [disabled]="!priceAgreementForm.valid"
        >
          Save
        </button>
        <a class="btn btn-secondary ml-1" routerLink="/subscriptionList/">Annuleren</a>
    </form>
