<!-- <div>
  <input type="text" [(ngModel)]="searchText" placeholder="Search">

    <table
      class="table">
      <tbody>
        <tr *ngFor="let s of (subscriptions | async) ?? []  | filter: searchText">
          <th scope="row">{{s.contractDate | date: "dd-MM-yyyy"}}</th>
          <td>{{ s.name }}</td>
          <td>{{s.firstName}}</td>
          <td>{{s.lastName}}</td>
          <td>{{s.status}}</td>
          <td>
            <select>
              <ng-container *ngFor="let p of s.priceAgreements">
                <ng-container *ngIf="options | async as optionList">
                  <option [ngValue]="p.priceAgreementStatusId">
                      {{ p.priceAgreementStatusId | optionName: optionList }}
                  </option>
                </ng-container>
              </ng-container>
              </select>
          </td>
          <td>
            <button type="button" class="btn knop" (click)="update(s.priceAgreementId)">
              Update
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->
  <!-- <div>
    <input type="text" [(ngModel)]="searchText" placeholder="Search">
  
    <table class="table">
      <tbody>
        <ng-container *ngFor="let s of (subscriptions | async) ?? [] | filter: searchText">
          <ng-container *ngFor="let p of s.priceAgreements; let i = index">
            <tr>
              <th scope="row">{{ s.contractDate | date: 'dd-MM-yyyy' }}</th>
              <td >{{ s.name }}</td>
              <td >{{ s.firstName }}</td>
              <td >{{ s.lastName }}</td>
              <td >{{ p.status }}</td> -->
              <!-- <td>
                <select>
                  <ng-container *ngIf="options | async as optionList">
                    <option [ngValue]="pa.priceAgreementStatusId" *ngFor="let pa of s.priceAgreements">
                      {{ pa.priceAgreementStatusId | optionName: optionList }}
                    </option>
                  </ng-container>
                </select>
              </td> -->
              <!-- <td>
                <button type="button" class="btn knop" (click)="update(s.priceAgreementId)">
                  Update
                </button>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
   -->
   <div>
    <input type="text" [(ngModel)]="searchText" placeholder="Search">
  
    <mat-accordion>
      <ng-container *ngFor="let s of (subscriptions | async) ?? [] | filter: searchText">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <div>{{ s.contractDate | date: 'dd-MM-yyyy' }}</div>
            <div>{{ s.name }}</div>
            <div>{{ s.firstName }}</div>
            <div>{{ s.lastName }}</div>
            <div>{{ s.status }}</div>
          </mat-expansion-panel-header>
  
          <table class="table">
            <tbody>
              <tr *ngFor="let p of s.priceAgreements">
                <td>{{ p.status }}</td>
                <td>
                  <button type="button" class="btn knop" (click)="update(p.priceAgreementId)">
                    Update
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
  </div>
  