<p *ngIf="isLoading">Aan het laden</p>

<div *ngIf="!isLoading">
    <div class="btn btn-success" (click)="add()">Adres toevoegen</div>
    <table class="table" *ngIf="addresses && addresses.length > 0">
        <tbody>
            <tr *ngFor="let a of addresses">
                <th scope="row">{{a.id}}</th>
                <td>{{a.name}}</td>
                <td><button type="button" class="btn knop" (click)="edit(a.id)"><i class="fas fa-edit"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>