<!-- <div *ngIf="!isSignedIn"> -->
<div *ngIf="!(authService.isAuthenticated$ | async)">
  <p>test</p>
  <!-- <app-signin></app-signin> -->
  <app-login-button></app-login-button>
</div>

<div *ngIf="(authService.isAuthenticated$ | async)">
  <mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
        menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
        close
      </mat-icon>
    </button>
    Westfit ledenplatform
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

      <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />

      <h4 class="name">Lode Bosmans</h4>

      <mat-divider></mat-divider>

      <button mat-button routerLink="/" class="menu-button">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-button routerLink="/profile" class="menu-button">
        <mat-icon>person</mat-icon>
        <span>Profiel</span>
      </button>

      <div *ngIf="isRegistered">
        <button mat-button class="menu-button">
          <mat-icon>people</mat-icon>
          <span>Mijn leden</span>
        </button>
        <button mat-button routerLink="/subscription" class="menu-button">
          <mat-icon>create</mat-icon>
          <span>Inschrijven</span>
        </button>
        <button mat-button routerLink="/subscription/overview" class="menu-button">
          <mat-icon>fitness_center</mat-icon>
          <span>Mijn trainingen</span>
        </button>
        <button mat-button class="menu-button">
          <mat-icon>file_copy</mat-icon>
          <span>Attesten</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button routerLink="/option" class="menu-button">
          <mat-icon>file_copy</mat-icon>
          <span>Option</span>
        </button>
        <button mat-button routerLink="/productDefinition" class="menu-button">
          <mat-icon>file_copy</mat-icon>
          <span>ProductDefinition</span>
        </button>
        <button mat-button routerLink="/address" class="menu-button">
          <mat-icon>file_copy</mat-icon>
          <span>Address</span>
        </button>
        <button mat-button routerLink="/productUnit" class="menu-button">
          <mat-icon>file_copy</mat-icon>
          <span>ProductUnit</span>
        </button>
        <button mat-button routerLink="/priceAgreement" class="menu-button">
          <mat-icon>file_copy</mat-icon>
          <span>PriceAgreement</span>
        </button>
        <button mat-button routerLink="/contract" class="menu-button">
          <mat-icon>file_copy</mat-icon>
          <span>Contract</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
          <mat-icon>shopping_cart</mat-icon>
          <span>Tweedehands</span>
        </button>

        <mat-divider></mat-divider>

      </div>

      <div>
        <app-login-button></app-login-button>
      </div>

    </mat-sidenav>

    <mat-sidenav-content>
      <!-- <div class="content mat-elevation-z8"> -->
      <div class="content mat-elevation-z8">
        <!-- <div class="ms-5"> -->

        <router-outlet></router-outlet>

      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>