/* You can add global styles to this file, and also import other style files */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');
@import "~bootstrap/dist/css/bootstrap.css";
@import "variables";


// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Hide the scrollbar in the sidenav
.mat-drawer-inner-container::-webkit-scrollbar {
    display: none;
}